.Gameboard1 {
    position: relative;
    display: flex;
    
    /* margin: 0 auto; */
    background-color: #000;
    background-image:
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
}

.container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    
  }

.btnContainer{
    /* border: 2px solid blue; */
    background: blue;
    padding: 12px;
    display: flex;
    flex-direction: column;
}



.Pixel {
    background: #ccc;
    position: absolute;
}

.navbarHolder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.btn{
    width: 108px;
    height: 44px;
    margin: 12px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .btn:hover{
    background: lightblue;
  }

  .btn2{
    width: 108px;
    height: 44px;
    margin: 12px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: blue;
  }  

.btn2:hover{
      background: lightblue;
      color: black;
    }


.slider{
    padding-right: 40px;
    }

.boxRight{
    padding-left: 12px;
    width: 500px;
    /* border: 2px solid red; */
}

/* .boxRightText{
border: 2px solid red; 
}*/

.bullet{
    font-weight: bold;
    padding: 5px;
}


#G1{
    display: none;  
}

#G2{
    display: block;  
}

#G3{
    display: none;  
}

/* HyperLink text */
.link{
    text-decoration: none;
    font-size: large;
    /* color: rgb(0, 68, 255); */
}